/* CSS RESET */
html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%
}

/* STYLE BEGINS BELOW */

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: #f0f0f0;
}

h1, h2 {
  font-weight: 700;
}

.header-text {
  display: block;
  background-color: #4257b2;
  color: #ffffff;
  font-weight: 700;
}

.main-content-container {
  display: flex;
}

.right-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flashcard-content {
  background-color: #ffffff;
  color: #455358;
}

.quiz-option {
  border: 2px solid blue;
  border-radius: 3px;
  padding: 5px 10px;
  width: 200px;
}

/* Phone only */
@media (max-width:599px) {
  .header-text {
    font-size: 1.25em;
    padding: 10px 17px;
  }
}

/* Tablet Portrait only */
@media (min-width:600px) and (max-width:899px) {
  .header-text {
    font-size: 1.5em;
    padding: 7px 40px;
  }
}

/* Tablet Landscape and Up */
@media (min-width:900px) {
  h2 {
    font-size: 2.75em;
    color: #455358;
    padding: 10px 25px;
  }

  .main-content-container {
    display: flex;
  }

  .header-text {
    font-size: 1.5em;
    padding: 22px 40px;
  }

  .left-nav-container {
    width: 175px;
    background-color: #ffffff;
    box-shadow: 0.3125rem 0 1.25rem 0 rgba(0,0,0,0.28);
    padding: 10px;
  }

  .flashcard-page {
    flex-grow: 1;
  }

  /* Width = 2/3 screen size right of deck details sidebar */
  .flashcard-content {
    font-size: 2.25em;
    height: 428px;
    width: 67%;
    margin: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .flashcard-content p {
    margin-left: 38px;
    margin-right: 38px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
  }

  .flashcard-content button {
    border: none;
    margin: 0 auto;
    padding: 20px;
    align-self: center;
    width: 100%;
    font-weight: 700;
    color: #97a5aa;
    transition: all 0.2s;
  }

  .flashcard-content button:hover {
    background-color: #c7ced1;
    color: #ffffff;
  }

  .change-flashcard-buttons-container {
    display: flex;
    justify-content: space-around;
    width: 67%;
    margin: 10px 25px;
  }

  .change-flashcard-button {
    border: none;
    background-color: #3ccfcf;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    margin: 5px;
    width: 90px;
    transition: all 0.2s;
  }

  .change-flashcard-button:hover {
    background-color: #ffcd1f;
    color: #455358;
  }

  .flashcard-count {
    width: 67%;
    margin: 10px 25px;
    text-align: right;
    font-size: 0.9em;
  }
}
